# Auto detect text files and perform LF normalization
# text=auto

# Apply SQL language detection to all .sql files
*.sql linguist-detectable=true
*.sql linguist-language=SQL

# Override all files to be recognized as SQL
* linguist-detectable=true
* linguist-language=SQL
