*.tar.gpg linguist-detectable=true
*.tar.gpg linguist-language=txt
*.zip.gpg linguist-detectable=true
*.zip.gpg linguist-language=txt
*.txt linguist-detectable=true
*.txt linguist-language=txt
*.sig linguist-detectable=true
*.sig linguist-language=SQL
*.md linguist-detectable=true
*.md linguist-language=SQL
